<header>
  <div class="left">
    <h2>Dyno</h2>
  </div>
  <div class="right">
    <h2>
      <%= link_to "Demo", app_path %>
    </h2>
  </div>
</header>
<div class="presentation">

  <div class="intro">
    <h1>Learning this new language is tricky, right?</h1>

    <p>I know the struggle. Living abroad, thinking you should start learning it soon, fix it for good... But other stuff always gets in the way</p>

    <p>Although now I feel like I understand some basic of Dutch, I'm missing so many words!</p>

  </div>

  <div class="what-is-that">
    <p>Well, that's the intention behind Dyno. Listen to a few useful words everyday, practise while commuting, while doing the dishes, while going to the gym...</p>


  </div>
</div>



