// https://coolors.co/db5461-ffd9ce-593c8f-8ef9f3-171738

$color: #ffd9ce;

html {
  height: 100%;
}

body {
  background-color: #db5461;
  text-align: center;
  height: 100%;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  .controls-wrapper {
    margin: 30px auto;
    display: flex;
    justify-content: center ;

    .controls {
      width: 100px;
      font-size: 2.2rem;
      cursor: pointer;
    }
  }

  .play-button-wrapper {
    height: 100px;
    width: 100px;

    background-color: #593c8f;
    border-radius: 50%;

    border: 3px solid #171738;

    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

    .play-button {
      cursor: pointer;
      height: 100px;
      width: 100px;
      text-align: center;
      border-radius: 100%;
      transition: all 0.7s ease;


      $highlight: darken($color, 10%);
      $duration: 0.4s;
      $sin:  0.866;
      $size: 40px;

      &, .left, .right, &:before {
        display: inline-block;
        vertical-align: middle;
        transition: border $duration, width $duration, height $duration, margin $duration;
        transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
      }

      &:before {
        content: "";
        height: 100px;
      }

      &.pause {
        animation: ripple 1.5s linear infinite;

        .left, .right {
          margin: 0;
          border-left: $size*0.33 solid $color;
          border-top: 0 solid transparent;
          border-bottom: 0 solid transparent;
          height: $size*$sin;
        }

        .left {
          border-right: $size*0.2 solid transparent;
        }
      }

      &.play {
        $border: $size/4;

        .left {
          margin-left: $size/6;
          border-left: $size*$sin/2 solid $color;
          border-top: $border solid transparent;
          border-bottom: $border solid transparent;
          border-right: 0px solid transparent;
          height: $size - 2*$border;
        }

        .right {
          margin: 0;
          border-left: $size*$sin/2 solid $color;
          border-top: $border solid transparent;
          border-bottom: $border solid transparent;
          height: 0px;
        }
      }

      &:hover {
        border-color: $highlight;

        .left, .right {
          border-left-color: $highlight;
        }
      }

      @keyframes ripple {
        0% {
          box-shadow: 0 0 0 0 rgba($color, 0.3),
          0 0 0 1px rgba($color, 0.3),
          0 0 0 3px rgba($color, 0.3),
          0 0 0 5px rgba($color, 0.3);
        }
        100% {
          box-shadow: 0 0 0 0 rgba($color, 0.3),
          0 0 0 4px rgba($color, 0.3),
          0 0 0 20px rgba($color, 0),
          0 0 0 30px rgba($color, 0);
        }
      }
    }
  }
}

