@import '../../shared/styles/components';
@import '../../shared/styles/colors';

.devise {
  .content {
    width: 50%;
    margin: auto;
    text-align: center;

    .new_user {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      width: 260px;
      margin: auto;
      padding: 30px;
      border-radius: 5px;

      .field {
        padding: 10px;
        text-align: left;
        width: 250px;

        label, em {
          font-size: .75rem;
          font-weight: bold;
        }

        input[type="email"], input[type="text"], input[type="password"] {
          color: $dark-color;
          border-width: 2px;
          font-size: 1rem;
          padding: .75rem;
          width: 80%;
          outline: 0;
          margin-top: 5px;
          -webkit-appearance: textfield;
        }
      }

    }

    a {
      padding: 10px;
      display: block;
      font-size: .75rem;
      font-weight: bold;
      color: $dark-color;
    }

    .actions {
      margin: 20px;

      input {
        @include button;
      }
    }
  }

}
