@import '../../shared/styles/colors';
@import '../../shared/styles/components';
@import url('https://fonts.googleapis.com/css?family=Cabin');

html {
  height: 100%;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $light-color;
  color: $dark-color;
  height: 100%;
  margin: 0;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

.flashes {
  margin: 0;

  .notice, .alert {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;

  .logo {
    font-family: 'Cabin', sans-serif;

    a{
      display: flex;
      align-items: center;

      img {
        width: 120px;
      }
      .text {
        color: $purple-color;
        font-size:3rem;
      }
    }
  }

  .current-user {
    a {
      color: $dark-color;
    }
  }
}

.container-button {
  text-align: center;
  margin: 4rem auto;
}

.button {
  @include button;
}

.presentation{
  max-width: 40rem;
  margin: auto;
  padding: 2rem;

  .intro {
    strong {
      font-style: italic;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
