@import '../../shared/styles/colors';
@import url('https://fonts.googleapis.com/css?family=Cabin');

html {
  height: 100%;
}

body {
  background-color: $light-color;
  color: $dark-color;
  height: 100%;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;

  .logo {
    font-family: 'Cabin', sans-serif;

    a{
      display: flex;
      align-items: center;

      img {
        width: 120px;
      }
      .text {
        color: $purple-color;
        font-size:3rem;
      }
    }
  }
}

.container-button {
  text-align: center;
  margin: 4rem auto;
}

.button {
  padding: 15px 30px;

  background-color: $red-color;
  color: $light-color;
  border-radius: 30px;
  font-size: 1.3rem;

  &:hover {
    transition: 0.2s all;
    background-color: darken($red-color, 5%);
  }
}

.presentation{
  max-width: 40rem;
  margin: auto;
  padding: 2rem;

  .intro {
    strong {
      font-style: italic;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
